<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/images/favicon/apple-touch-icon.png?v=rM3ALQpp2K">
<link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon/favicon-32x32.png?v=rM3ALQpp2K" sizes="32x32">
<link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon/favicon-16x16.png?v=rM3ALQpp2K" sizes="16x16">
<link rel="manifest" href="{{site.url}}/assets/images/favicon/manifest.json?v=rM3ALQpp2K">
<link rel="mask-icon" href="{{site.url}}/assets/images/favicon/safari-pinned-tab.svg?v=rM3ALQpp2K" color="#5bbad5">
<link rel="shortcut icon" href="{{site.url}}/assets/images/favicon/favicon.ico?v=rM3ALQpp2K">
<meta name="msapplication-config" content="{{site.url}}/assets/images/favicon/browserconfig.xml?v=rM3ALQpp2K">
<meta name="theme-color" content="#ffffff">
